---
import "../styles/global.css"
import { ArrowRight } from "react-feather";
---

<html class="h-full">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="keywords"
        content="sodd,stack overflow driven development,innherredssodd,sodd dish,sodd developer,sodd driven development,stackoverflow driven development,driven development,stack overflow,stackoverflow" />
    <meta name="robots" content="index, nofollow" />
    <meta name="language" content="English" />

    <!-- Primary Meta Tags -->
    <title>The SODD Method</title>
    <meta name="title" content="The SODD Method" />
    <meta name="description"
        content="A scientifically proven* method for building enterprise grade web services! Improve your web development skills and become a true 10x developer today." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://the-sodd-method.netlify.app/" />
    <meta property="og:title" content="The SODD Method" />
    <meta property="og:description"
        content="A scientifically proven* method for building enterprise grade web services! Improve your web development skills and become a true 10x developer today." />
    <meta property="og:image" content="https://the-sodd-method.netlify.app/sodd-driven-development.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://the-sodd-method.netlify.app/" />
    <meta property="twitter:title" content="The SODD Method" />
    <meta property="twitter:description"
        content="A scientifically proven* method for building enterprise grade web services! Improve your web development skills and become a true 10x developer today." />
    <meta property="twitter:image" content="https://the-sodd-method.netlify.app/sodd-driven-development.jpg" />
</head>

<body class="h-full bg-slate-900 text-white flex flex-col">
    <nav class="container mx-auto py-3 mb-6 xl:px-0 px-5">
        <p class="text-xl">
            The <span class="font-serift font-medium">SODD</span>{" "}
            Method
        </p>
    </nav>

    <header class="grid grid-cols-1 md:grid-cols-2 container mx-auto gap-x-10 gap-y-3 xl:px-0 px-5 mb-20 flex-1">
        <h1 class="xs:text-5xl text-4xl text-cyan-400 font-light mb-10 leading-10">
            <span class="text-6xl font-medium">SODD</span>
            <br />
            Driven Development
        </h1>

        <img class="bg-cyan-100 bg-opacity-10 rounded p-10 mb-10 border-2 border-cyan-100 border-opacity-10 shadow md:row-start-1 md:row-end-7 md:col-start-2 md:col-end-2"
            src="/undraw_proud_coder_re_exuy.svg" alt="a woman doing web development" />

        <p class="text-cyan-100 text-xl font-medium mb-5 lg:max-w-lg leading-7">
            A scientifically proven* method for building enterprise
            grade web services!
        </p>
        <p class="text-cyan-100 text-lg mb-10 lg:max-w-lg leading-7">
            Improve your web development skills and become a true
            10x developer today by clicking the button below.
        </p>

        <a rel="noreferrer" target="_blank" href="https://www.youtube.com/watch?v=qogh6jQD1Ro"
            class="text-white bg-cyan-600 px-6 py-5 text-xl font-semibold hover:bg-cyan-700 rounded w-full lg:max-w-lg mb-5 flex justify-between items-center">
            Become a SODD developer
            <ArrowRight />
        </a>

        <p class="text-sm text-cyan-200">
            * find example experiment candidate{" "}
            <a href="https://github.com/OscarWoHA"
                class="text-cyan-300 underline underline-offset-2 hover:text-cyan-400 focus:text-cyan-400">
                here
            </a>
        </p>
    </header>

    <footer class="py-10 bg-slate-800">
        <div class="container mx-auto xl:px-0 px-5">
            <p class="text-cyan-100">
                Made with <span class="text-red-300">passion</span>{" "}
                by{" "}
                <a href="https://github.com/OscarWoHA"
                    class="font-medium underline underline-offset-4 hover:text-cyan-300 focus:text-cyan-300">
                    some norwegian guy on the internet
                </a>
                , source code on{" "}
                <a class="font-medium hover:text-cyan-300 focus:text-cyan-300"
                    href="https://github.com/OscarWoHA/sodd-driven-development">
                    GitHub
                </a>
            </p>
        </div>
    </footer>
</body>

</html>