---
import "../styles/global.css"
import { ArrowRight } from "react-feather";
---

<html class="h-full" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="keywords"
        content="sodd,stack overflow driven development,innherredssodd,sodd dish,sodd developer,sodd driven development,stackoverflow driven development,driven development,stack overflow,stackoverflow" />
    <meta name="robots" content="index, nofollow" />
    <meta name="language" content="English" />

    <!-- Primary Meta Tags -->
    <title>The SODD Method</title>
    <meta name="title" content="The SODD Method" />
    <meta name="description"
        content="A scientifically proven* method for building enterprise grade web services! Improve your web development skills and become a true 10x developer today." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://the-sodd-method.netlify.app/" />
    <meta property="og:title" content="The SODD Method" />
    <meta property="og:description"
        content="A scientifically proven* method for building enterprise grade web services! Improve your web development skills and become a true 10x developer today." />
    <meta property="og:image" content="https://the-sodd-method.netlify.app/sodd-driven-development.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://the-sodd-method.netlify.app/" />
    <meta property="twitter:title" content="The SODD Method" />
    <meta property="twitter:description"
        content="A scientifically proven* method for building enterprise grade web services! Improve your web development skills and become a true 10x developer today." />
    <meta property="twitter:image" content="https://the-sodd-method.netlify.app/sodd-driven-development.jpg" />
</head>

<body class="h-full bg-black text-white flex flex-col scroll-smooth">


    <nav class="container mx-auto py-3 mb-10 xl:px-0 px-5">
        <p class="text-xl font-serif">
            The SODD
            Method
        </p>
    </nav>

    <header class="text-center max-w-xl mx-auto flex flex-col mb-24 px-3">
        <h1 class="text-5xl mb-8 font-medium">Boost your development experience</h1>

        <p class="text-white text-opacity-70 leading-relaxed mb-7 text-lg ">SODD driven development is a
            <span class="text-white font-bold break-words">scientifically
                proven*</span> development method for
            building enterprise grade web
            services!
        </p>

        <a rel="noreferrer" target="_blank" href="https://www.youtube.com/watch?v=qogh6jQD1Ro"
            class="focus:border-0 rounded-full bg-white text-black px-5 py-2 font-bold focus:bg-cyan-300 hover:bg-cyan-300 outline-none transition-colors self-center mb-10 font-serif text-xl">Deploy
            SODD</a>


        <img src="/undraw_proud_coder_re_exuy.svg" alt="a woman doing web development" />
    </header>


    <footer class="text-center px-3">
        <p class="text-gray-300">
            Made with <span class="text-red-400">passion</span>{" "}
            by{" "}
            <a href="https://github.com/OscarWoHA" target="_blank" rel="noreferrer"
                class="font-medium underline underline-offset-4 hover:text-cyan-300 focus:text-cyan-300 outline-none transition-colors">
                some norwegian guy on the internet
            </a>
            , source code on{" "}
            <a class="font-medium hover:text-cyan-300 focus:text-cyan-300 outline-none transition-colors"
                target="_blank" rel="noreferrer" href="https://github.com/OscarWoHA/sodd-driven-development">
                GitHub
            </a>
        </p>
    </footer>
</body>

</html>